html {
  background-color: rgb(231, 215, 184);
  font-size: 20px;
}

.top-navigation {
  background-color: rgb(62, 29, 0);
  h1 {
    color: rgb(231, 215, 184);
  }
  font-size: 30px;
  text-align: center;
  border: 10px solid black;
}

ul {
  background: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid black;
}

.button {
  background-color: rgb(62,29,0);
  padding: 15px 32px;
  color: rgb(231, 215, 184);
  border: 3px solid rgb(39, 12, 12);
  font-family: 'Times New Roman', Times, serif;
}
.button:hover {
  background-color: rgb(65, 43, 23);
  padding: 15px 32px;
  color: rgb(231, 215, 184);
  border: none;
  font-family: 'Times New Roman', Times, serif
}
.button:active {
  transform: scale(0.98);
}

li {
  margin-left: 20px;
}
